* {
  padding: 0;
  margin: 0;
}

.container {
  background: url("snakebg.jpg");
  min-height: 100vh;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreBoard {
  position: absolute;
  display: flex;
  align-items: center;
  top: 30px;
  font-weight: bold;
  font-size: 40px;
}

#gameboard {
  background: linear-gradient(rgb(28, 90, 28), rgb(179, 179, 12));
  width: 90vmin;
  height: 90vmin;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.head {
  background-color: rgb(32, 3, 78);
  border-radius: 5px;
  border: 1px solid rgba(194, 181, 181, 0.637);
}

.snake {
  background-color: purple;
  border-radius: 5px;
  border: 1px solid rgba(194, 181, 181, 0.637);
}

.food {
  background: linear-gradient(red, rgb(61, 1, 11));
  border-radius: 15px;
}
